/* CSS - Step 1 */
/* Make default checkbox invisible */
.checkbox-label input {
    opacity: 0;
    position: absolute;
}

/* CSS - Step 2 */
/* Unchecked state - makes the new box */
.checkbox-label .checkbox-custom {
    background: black;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    /* display inline-block needed so that we can set the width */
    height: 16px;
    width: 16px;
}

/* CSS - Step 3 */
/* Unchecked state - makes the check */
.checkbox-label .checkbox-custom::after {
    content: "✓";
    opacity: 0;
}

/* CSS - Step 4 */
/* Checked state - chages the box */
.checkbox-label input:checked ~.checkbox-custom {
    background-color: white;
}

/* CSS - Step 5 */
/* Checked state - changes the check */
.checkbox-label input:checked ~.checkbox-custom::after {
    color: black;
    left: 2px;
    opacity: 1;
    position: relative;
    top: -1px;
}
